<!DOCTYPE html>
<title>Edit Configuration</title>
<h2>Edit Configuration</h2>
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.youtube_dl_path) }}
    </dl>
    <dl>
        {{ render_field(form.download_path) }}
    </dl>
    <dl>
        {{ render_field(form.download_interval) }}
    </dl>
    <dl>
        {{ render_field(form.mopidy_local_path) }}
    </dl>
    <dl>
        {{ render_field(form.mopidy_playlists_path) }}
    </dl>
    <dl>
        {{ render_field(form.use_custom_user) }}
    </dl>
    <h3>Default Naming Format</h3>
    <dl>
        {{ render_field(form.separator) }}
        {{ render_field(form.artist_before_title) }}
    </dl>
    <p><a href="{{ url_for('.ui_home') }}">Cancel</a> <input type=submit value=Save>
</form>
</html>