 <!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>QMK YtMusicDownloader</title>
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">QMK Youtube Music Downloader GUI</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('ui_playlists') }}">Playlists</a></li>
            <li><a href="{{ url_for('ui_new_music') }}">New Music</a></li>
            <li><a href="{{ url_for('ui_naming_rules') }}">Naming Rules</a></li>
            <li><a href="{{ url_for('ui_channels') }}">Channels</a></li>
            <li><a href="{{ url_for('ui_configuration') }}">Configuration</a></li>
            <li><a href="{{ url_for('ui_factory_reset') }}">Factory Reset</a></li>
            <li><a href="{{ url_for('index') }}">API Documentation</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>
</html>