<!DOCTYPE html>
    <title>Edit Playlist</title>
    <h2>Edit Playlist</h2>
    <p>
        id: {{ id }}<br/>
        name: {{ name }}<br/>
        youtube id: {{ youtube_id }}<br/>
        uploader: {{ uploader }}<br/>
        folder: {{folder}}
    </p>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.url) }}
            {{ render_field(form.name) }}
            {{ render_field(form.folder) }}
        </dl>
        <p><a href="{{ url_for('.ui_playlists') }}">Cancel</a> <input type=submit value=Save>
    </form>
</html>